html {
    scroll-behavior: smooth;
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(Fonts/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-Bold";
    src: url(Fonts/Roboto/Roboto-Bold.ttf);
    font-weight:bold;
    font-style: normal;
}
@font-face {
    font-family: "Roboto-Italic";
    src: url(Fonts/Roboto/Roboto-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}
#header_grid {
    display: grid;
    grid-template-areas: 
    "main_title"
    "main_subtitle"
    "nav";
}
#main_title {
    display: flex;
    margin: 0px;
    padding: 3% 3% 0%;
    align-items: center;
    justify-content: center;
    font-family: "Roboto-Bold" , sans-serif;
    font-size: 5vw;
}
#main_subtitle {
    display: flex;
    margin: 0px;
    padding: 0% 3% 3%;
    align-items: center;
    justify-content: center;
    font-family: "Roboto-Bold" , sans-serif;
    font-size: 4vw;
    border-bottom: 5px solid white;
}
#main_links {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    font-size: 2vw;
    padding-bottom: 8px;
    list-style: none;
    text-decoration: none;
}
.navbutton {
    color: white;
    text-decoration: none;
    padding: 8px;
}
.anchor {
    display: block;
    height: 5vh;
    margin-top: -5vh;
    visibility: hidden;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}
body > header {
    background-color: aquamarine;
    color: white;
    margin-bottom: 3vh;
}
#main_content {
    display: flex;
    justify-content: space-around ;
}
#main_content aside {
    width: 25%;
    justify-content: left;
    margin: 0 auto auto 20px;
}
#main_content>aside>section {
    border: 5px solid mediumaquamarine;
    margin: 5vh 0px 5vh 0px;
}
#main_content>div {
    width: 75%;
}
#main_content>div>article {
    margin-top: 5vh;
    margin-bottom: 8vh;
    border: 5px solid mediumaquamarine;
    padding: 5%;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}
body>main article{
    width: 70%;
    margin: auto;
    text-align: justify;
}
h2{
    text-align: center;
}
#Contact_us {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    font-family: "Roboto-Italic", sans-serif;
    padding-bottom: 5%;
}
#Contact_us li {
    list-style: none;
}
#Address {
    flex: 3;
    padding: 5% 5% 5% 0%;
}
#Phone {
    flex: 1;
    padding: 5% 5% 5% 0%;
}
#Email {
    flex: 1;
    padding: 5% 5% 5% 0%;
}
#Facebook {
    flex: 1;
    padding: 5% 5% 5% 0%;
}
#Facebook a {
    padding: 5%;
    color: #316FF6;
}
#Instagram {
    flex: 1;
    padding: 5% 5% 5% 0%;
}
#Instagram a {
    padding: 5%;
    color: #C13584;
}
.external_link {
    text-decoration: none;
}
#main_content footer a {
    text-decoration: none;
    font-family: "Roboto-Italic";
}
form{
    text-align: center;
}
body > footer {
    background-color: aqua;
    display: flex;
    margin-top: 0;
}
#footer_links {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
#footer_links>div {
    margin-left: 10px;
}
#footer_links>div>li>a {
    color: white;
    text-decoration: none;
}
img {
    border-radius: 10%;
}
hr {
    color: aquamarine;
}